%h1 Edit Event

= form_for @event, :method => :put, :validate => true do |e|
  .fieldset
    .form-group
      = e.label :title, 'Title'
      %p
      = e.text_field :title
    .form-group
      = e.label :organization, 'Organization'
      %p
      = e.text_field :organization
    .form-group
      = e.label :contact, 'Contact Email'
      %p
      = e.text_field :contact
    .form-group
      = e.label :starts_at, 'Start Date'
      = e.datetime_select :starts_at
    .form-group
      = e.label :ends_at, 'End Date'
      = e.datetime_select :ends_at
    .form-group
      = e.label :description, 'Description'
      = '(Mention any specific requirements (i.e., age))' 
      %p
      = e.text_area :description, :rows => 5
    .form-group
      = e.label :signup_url, 'Sign Up Link'
      %p
      = e.text_field :signup_url
    .form-group
      = e.label :max_volunteers, 'Max Volunteers'
      %p
      = e.number_field :max_volunteers

    = submit_tag 'Update Event Info'
= button_to 'Cancel', root_path
