
%table.table.table-striped.table-condensed.table-hover.table-bordered.table-responsive#eventTable
  %thead
    %tr
      %th.title Title
      %th Organization Name
      %th Start Date
      %th Address
      %th Max Volunteers
      %th Event Link
      - if admin_signed_in?
        %th Edit Event
 
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.title, event_path(event)
        %td= event.organization
        %td= event.starts_at.strftime("%m/%d/%Y %l:%M %p")
        %td= event.address
        %td= event.max_volunteers
        %td= link_to 'View Event', event_path(event)
        - if admin_signed_in?
          %td= link_to 'Edit Event', edit_event_path(event)
      
        
    - if @events.length == 0
      %h4 No events found. Try less specific search terms.
= button_to 'Back to Calendar', root_path
