%h1 Create New Event

= form_for @event, :validate => true do |e|
  .fieldset
    .form-group
      = e.label :title, 'Title'
      = e.text_field :title
    .form-group
      = e.label :organization, 'Organization'
      = e.text_field :organization
    .form-group
      = e.label :contact, 'Contact Email'
      = e.text_field :contact
    .form-group
      = e.label :starts_at, 'Start Date'
      = e.datetime_select :starts_at
    .form-group
      = e.label :ends_at, 'End Date'
      = e.datetime_select :ends_at
    .form-group
      = e.label :description, 'Description'
      = e.text_area :description, :rows => 5
    .form-group
      = e.label :street, 'Street'
      = e.text_field :street
      = e.label :city, 'City'
      = e.text_field :city
    .form-group
      = e.label :state, 'State'
      = e.text_field :state
      = e.label :zip, 'Zip Code'
      = e.text_field :zip
    .form-group
      = e.label :signup_url, 'Sign Up Link'
      = e.text_field :signup_url
    .form-group
      = e.label :max_volunteers, 'Max Volunteers'
      = e.number_field :max_volunteers

    = submit_tag 'Save Changes'
= button_to 'Cancel', root_path

:javascript
  $(document).ready(function() {
    $("#startDate").datepicker();
    $('#ui-datepicker-div').removeClass('ui-helper-hidden-accessible'); 
    $("#endDate").datepicker();
    $("#time").timepicker();
    $('#ui-datepicker-div').removeClass('ui-helper-hidden-accessible')
  
