%h2 #{@event.title}

%ul#details
  %li
    Starts At:
    = @event.starts_at.strftime("%c")
  %li
    Ends At:
    = @event.ends_at.strftime("%c")
  %li
    Max Volunteers:
    = @event.max_volunteers

%h3 Description:

%p#description= @event.description

%form{:action => url_with_protocol(@event.signup_url)}
  %input{:type => "submit", :value => "Sign Up to Volunteer"}
= button_to 'Back to Calendar', root_path

- if admin_signed_in?
  %h3 Admin Actions:
  = button_to 'Edit', edit_event_path(@event), :method => :get
  = button_to 'Delete', event_path(@event), :method => :delete, :confirm => 'Are you sure?'
